In [1]:
import pandas as pd
file_path = './data/cyberData/cyberSecurityBreaches.csv'
# read the data and store data in DataFrame
data = pd.read_csv(file_path) 
# print a summary of the data
data.describe()

       Unnamed: 0      Number  Individuals_Affected         year
count  1055.00000  1055.00000          1.055000e+03  1055.000000
mean    528.00000   527.00000          3.026202e+04  2011.450237
std     304.69657   304.69657          2.278598e+05     1.581780
min       1.00000     0.00000          5.000000e+02  1997.000000
25%     264.50000   263.50000          1.000000e+03  2010.000000
50%     528.00000   527.00000          2.300000e+03  2012.000000
75%     791.50000   790.50000          6.941000e+03  2013.000000
max    1055.00000  1054.00000          4.900000e+06  2014.000000