In [6]:
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor


# Path of the data file to read
iowa_file_path = './data/soccerData/data.csv'

soccer_data = pd.read_csv(iowa_file_path)
soccer_data.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

In [7]:
y = soccer_data.Overall

soccer_features = ['Position', 'GKKicking', 'Agility', 'BallControl']

X = soccer_data[soccer_features]

X.describe()

          GKKicking       Agility   BallControl
count  18159.000000  18159.000000  18159.000000
mean      16.232061     63.503607     58.369459
std       16.502864     14.766049     16.686595
min        1.000000     14.000000      5.000000
25%        8.000000     55.000000     54.000000
50%       11.000000     66.000000     63.000000
75%       14.000000     74.000000     69.000000
max       91.000000     96.000000     96.000000

In [8]:
X.head()

  Position  GKKicking  Agility  BallControl
0       RF       15.0     91.0         96.0
1       ST       15.0     87.0         94.0
2       LW       15.0     96.0         95.0
3       GK       87.0     60.0         42.0
4      RCM        5.0     79.0         91.0